@font-face {
	font-family: 'Bulzing';
	src: url(../fonts/BulzingItalic-GOLRD.ttf)
}

@font-face {
	font-family: 'Cyberpunk';
	src: url(../fonts/Cyberpunk.ttf)
}

@font-face {
	font-family: 'Glitch';
	src: url(../fonts/GlitchGoblin-2O87v.ttf)
}


*{
    margin: 7px;
}

body{
    background-color: rgb(250,244,2);
    
}

header{
    background-color: rgb(0, 0, 0);
    font-family: 'Glitch', sans-serif;
    text-align: center;
    color:rgb(250,244,2);
    font-size : 30px;
    min-height: 10vh;
}
nav{
    font-family: 'Bulzing';
    font-size: 15px;
}
.présentation {
    font-size: 30px;
    font-family: 'Cyberpunk', sans-serif;
}

.imagefille {
    text-align: left;
    width: 100px;
    
}

.txtprésentation {
    justify-content: right;
    font-family: 'Glitch', sans-serif;
    width: 45%;
    border: 4px solid rgb(141, 235, 239);
    padding: 15px;
}

.Vgif {
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-family: 'Glitch', sans-serif;
    color:rgb(250,244,2);
    background-color: black;
    position: relative;
    top: -600px;
    margin-left: 900px;
}

.Vgif img {
    width: 100%;
    height: auto; /*maintenir les proportions de l'image */
    transition: transform 0.4s ease-in-out;
}

.Vgif:hover img { /*pour sélectionner et styliser un élément lorsqu'il est survolé par le curseur */
    transform: scale(1.2); 
}

.Night-City {
    font-size: 30px;
    font-family: 'Cyberpunk', sans-serif;
    position: relative;
    top: -450px;
    text-align: center;
}

.NC {
    position: relative;
    font-family: 'Glitch', sans-serif;
    font-size: 20px;
    top: -420px;
    padding: 10px;
    color:rgb(255, 255, 255);
    background-color: black;
}

.NC img {
    width: 50%;
    height: auto;
    border-radius: 100px;
}

.NCtxt {
    font-family: 'Glitch', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    position: relative;
    top: -850px;
    margin-left: 830px;
}

.Johnny {
    font-family: 'Cyberpunk';
    font-size: 50px;
    width: 200px;
    height: 200px;
    margin-left: 850px;
    position: relative;
    top: -250px;
}

.Johnny img {
    width: 300%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.Johnny:hover img { /*pour sélectionner et styliser un élément lorsqu'il est survolé par le curseur */
    transform: scale(1.2);
}

.Johnnytxt {
    font-family: 'Glitch';
    font-size: 18px;
    position: relative;
    top: -900px;
    text-align: right;
    margin-right: 370px;
}

.Gameplay {
    position: relative;
    top: -750px;
    font-family: 'Glitch';
    font-size: 45px;
}


.Gameplaytxt {
    font-family: 'Glitch';
    font-size: 20px;
    color: white;
    position: relative;
    top: -740px;
    width: 54%;
    height: auto;
    background-color: black;
    padding: 10px;
}

footer {
    text-align: center;
}

@media all and (max-device-width:480px){
    
    .présentation {
        font-size: 20px;
    }
    .imagefille img{
        width: 360px;
        height: auto;
    }
    .txtprésentation {
        width: 90%;
        padding: 15px;
        font-size: 10px;
    }
    .Vgif {
        position: relative;
        top: 10px;
        font-size: 10px;
        margin-left: 0px;
        margin-right: 500px;
    }
    .Vgif img {
        width: 150px;
    }
    .Night-City {
        text-align: center;
        position: relative;
        top: 50px;
    }
    .NC {
        position: relative;
        top: 50px;
        font-size: 10px;
    }
    .NCtxt {
        margin-left: 200px;
        position: relative;
        top: -50px;
        font-size: 7px;
        width: 42%;
    }
    .Gameplay {
        font-size: 20px;
        position: relative;
        top: -220px;
    }
    .Gameplaytxt {
        font-size: 10px;
        width: 300px;
        position: relative;
        top: -250px;
    }
    .Gameplay video{
        width: 360px;
        height: auto;
    }

    .Johnny {
        margin-left: 0px;
        width: 10%;
        position: relative;
        top: 400px;
        font-size: 10px;
    }
    .Johnnytxt{
        position: relative;
        margin-right: 0;
        top: 150px;
        font-size: 10px;
        width: 100px;
    }
    footer {
        font-size: 10px;
    }
}
